#tekstballon {
    background-color: blue;
    width: 500px;
    height: 100px;
    color: white;
}
.mo{
    width: 80px;
    height: 80px;
    margin-left: 1430px;
    margin-bottom: 100px;
}
.foto{
       width: 150px;
       height: 230px;
}
.ICT{
    width: 150px;
    height: 145px;
    margin-left: 1350px;

}
